{% extends 'base.html' %}

{% load posts_tags %}
{% get_topics as topics %}

{% block title %} Article {% endblock %}

{% block content %}
<main class="container mt-4 mb-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title"> {{ article_single.title_article }}</h1>
            <p class="card-text">{{ article_single.created_date }}</p>
            <p class="card-text">Author - {{ article_single.author }}</p>
            <p class="card-text">Related Topics: {{ article_single.topics.all|join:", " }}</p>
            <p class="card-text">{{ article_single.text_article }}</p>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'postapp:article-update' article_id=article_single.id %}" class="btn btn-primary">Update article</a>
                <a href="{% url 'postapp:article-delete' article_id=article_single.id %}" class="btn btn-danger">Delete article</a>
            </div>
            {% endif %}
            <div class="comments mt-4">
                {% for comment in comments %}
                <div class="comment card mb-3">
                    <div class="card-body">
                        <h5 class="card-title comment-author">{{ comment.author_comment }}</h5>
                        <p class="card-text comment-time">{{ comment.created_date_comment }}</p>
                        <p class="card-text comment-text">{{ comment.text_comment }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
