{% extends 'base.html' %}

{% load posts_tags %}
{% get_topics as topics %}

{% block title %} User Settings | Blog {% endblock %}

{% block content %}

<main class="container mt-4 mb-5">
    <div class="card">
        <div class="card-body">
            <h2>User Settings</h2>
            <form>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="subscribeCheckbox">
                    <label class="form-check-label" for="subscribeCheckbox">Subscribe to newsletter for priority topics</label>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}

