{% extends 'base.html' %}

{% block title %}
  DELETE
{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <section class="col-md-9" role="main">
      <div class="h4 fst-italic mt-5">Delete Form</div>
        <div>
          <label for="title" class="form-label" style="font-size: 30px;">Are you sure you want to delete " {{ article_title }} " article?</label>
        </div>
      <button class="btn btn-danger" style="margin-top: 12px">Delete</button>
    </section>
  </div>
</main>
{% endblock %}