{% extends 'base.html' %}

{% load posts_tags %}
{% get_topics as topics %}

{% block title %} Sample | Blog {% endblock %}

{% block content %}

<main class="container mt-4 mb-5">
    <div class="card">
        <div class="card-body">
            <form method='post'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputUsername" class="form-label">Username</label>
                    {{ form.username }}
                    <label for='username'>{{  form.username.lable }}</label>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    {{ form.email }}
                    <div>{{ form.email.errors }}</div>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    {{ form.password }}
                    <div>{{ form.password.errors }}</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm password</label>
                    {{ form.confirm_password }}
                    <div>{{ form.confirm_password.errors }}</div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Registration</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
